.graph caption {
    padding-bottom: 0.33em;
}

.graph tbody th {
    text-align: right;
}

.graph {
    display: block;
    width: 55vmin;
    margin: 2.5vmin;
    font-size: .5em;
    border: none;
}

.graph caption {
    display: block;
}

.graph tbody {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
    column-gap: 2.5%;
    align-items: end;
    height: 100%;
    margin: 3em 0 1em 2.8em;
    padding: 0 1em;
    background: repeating-linear-gradient(180deg,
            rgba(170, 170, 170, 0.7) 0,
            rgba(170, 170, 170, 0.7) 1px,
            transparent 1px,
            transparent 10%);
}

.graph tr {
    position: relative;
    display: block;
}

.graph th,
.graph td {
    display: block;
    text-align: center;
    border: none;
}

.graph tbody:before,
.graph tbody:after {
    position: absolute;
    left: -3.2em;
    width: 2.8em;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
}

.graph tbody:before {
    content: "100%";
    top: -0.6em;
}

.graph tbody:after {
    content: "0%";
    bottom: -0.6em;
}

.graph tbody th {
    position: absolute;
    top: -3em;
    left: 0;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-indent: 0;
    font-weight: bold;
    font-size: 1.25em;
}

.graph td {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 0px;
    transition: background 0.5s;
}

.graph td span {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    padding: 0.5em 0;
    margin: -1em 0 0;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
    color: white;
}